
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

$background-color-primary: #100806; 
$anim-duration: .3s;

* {
    font-family: 'Montserrat';
}

body {
    background-color: $background-color-primary;
}

a {
    color: #fff;
}

.Header {

    background-color: $background-color-primary;
    color: white;
    padding: 0 64px;

    .header-inner {
        padding: 30px 0;
        box-sizing: border-box;

        #siteTitleWrapper {
            z-index: 1001;
            width: 255px;
            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
            text-align: center;

            h1 {
                line-height: 1em;
                font-family: sans-serif;
                font-size: 2em;
                letter-spacing: 0.0869565em;
                margin: 0;
                padding-top: 0;
                padding-bottom: 0;
                
                a {
                    font-weight: 600;
                    font-style: normal;
                    font-size: 23px;
                    text-transform: uppercase;
                    color: #fff;
                    margin: 0;
                    padding: 0;
                    line-height: 1.2rem;
                    text-decoration: none;
                    text-rendering: optimizeLegibility;
                }
            }
        }

        #headerNav {
            margin-left: -15px;
            margin-top: -28px;
            margin-bottom: -1px;
            box-sizing: border-box;
            display: block;
            transition: all $anim-duration linear;
            text-align: center;
            position: relative;

            nav {
                display: block;
                text-align: center;
                -webkit-font-smoothing: antialiased;
                line-height: 1em;
                font-family: sans-serif;

                .link {
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0;
                    text-align: center;
                    -webkit-font-smoothing: antialiased;
                    line-height: 1em;

                    a {
                        pointer-events: initial;
                        color: rgba(255,255,255,.6);
                        font-weight: 400;
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-size: 12px;
                        letter-spacing: 2px;
                        text-decoration: none;
                        line-height: 1em;
                        text-transform: uppercase;
                        padding: .75em 1em;
                        display: block;
                        transition: color .1s 0s ease-in-out;
                        outline: none;

                        &.active {
                            color: #fff!important;
                        }
                    }
                }
            }
        }
    }
}


.FloatingHeader {
    position: fixed;
    left: 0;
    right: 0;
    top: -50px;
    background-color: $background-color-primary;
    color: white;
    padding: 0 64px;
    z-index: 1001;
    height: 2rem;
    transition: all $anim-duration linear;

    &.active {
        top: 0px!important;
    }

    .header-inner {
        padding: 30px 0;
        box-sizing: border-box;

        #siteTitleWrapper {
            
            width: 255px;
            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
            text-align: center;

            h1 {
                line-height: 1em;
                font-family: sans-serif;
                font-size: 2em;
                letter-spacing: 0.0869565em;
                margin: 0;
                padding-top: 0;
                padding-bottom: 0;
                
                a {
                    font-weight: 600;
                    font-style: normal;
                    font-size: 23px;
                    text-transform: uppercase;
                    color: #fff;
                    margin: 0;
                    padding: 0;
                    line-height: 1.2rem;
                    text-decoration: none;
                    text-rendering: optimizeLegibility;
                }
            }
        }

        #headerNav {
            margin-left: -15px;
            margin-top: -28px;
            margin-bottom: -1px;
            box-sizing: border-box;
            display: block;
            transition: all $anim-duration linear;
            text-align: center;
            position: relative;

            nav {
                display: block;
                text-align: center;
                -webkit-font-smoothing: antialiased;
                line-height: 1em;
                font-family: sans-serif;

                .link {
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0;
                    text-align: center;
                    -webkit-font-smoothing: antialiased;
                    line-height: 1em;

                    a {
                        pointer-events: initial;
                        color: rgba(255,255,255,.6);
                        font-weight: 400;
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-size: 12px;
                        letter-spacing: 2px;
                        text-decoration: none;
                        line-height: 1em;
                        text-transform: uppercase;
                        padding: .75em 1em;
                        display: block;
                        transition: color .1s 0s ease-in-out;
                        outline: none;

                        &.active {
                            color: #fff!important;
                        }
                    }
                }
            }
        }
    }
}

.SectionWrapper {
    
    padding-top: 64px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 64px;
    clear: none;

    .SectionTitle {
        text-align: center;
        text-transform: uppercase;
        white-space: pre-wrap;
        margin-bottom: 0;
        // margin-top: 0;
        margin: 1.5em auto .3em;
        margin-top: 0;
        color: #fff;
        font-weight: 400;
        line-height: 3.5em; //1.2em;
        letter-spacing: 2px;
        text-rendering: optimizeLegibility;
        font-size: 32px;
    }

    .SectionContents {
        text-align: center;
        margin-top: .5em;
        width: 100%;
        // overflow: hidden;
        text-overflow: ellipsis;
        // white-space: nowrap;
        font-size: 14px;
        letter-spacing: .4px;
        line-height: 1.75em;
        color: #fff;

        .quote {
            margin-top: 48px; 

            :nth-child(1){
                font-size: 20px;

                &:before {
                    content: "\"";
                }

                &:after {
                    content: "\"";
                }
            }

            :nth-child(2){
                color: white;
                font-size: 12px;
                text-align: right;
                font-style: italic;
                opacity: .75;

                &:before {
                    content: "- ";
                }
            }
        }
    }
}

